<div class="row text-center" onload="controller.init()">
    <h3>Painel de Controle</h3>
    <div class="col-lg col-sm col-md mx-auto table-responsive">
        <table class="table">
            <thead>
                <th scope="col">Links</th>
                <th scope="col">Título</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
            </thead>
            <tbody id='newslist'>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="interactionModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="interactionModalTitle"></h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body" id="interactionModalFields">
                    
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex fixed-bottom flex-column align-items-end pb-5 pe-5">
        <button class="btn btn-lg btn-primary btn-floating"
            data-mdb-toggle="modal"
            data-mdb-target="#interactionModal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>